<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-headline-medium">Detalhes do usuário: </span>
    </mat-list-item>
    <mat-divider></mat-divider>
  
    <mat-list-item>
      <span class="mat-title-large">Nome: </span>
      <span class="mat-title-medium">Fulano de tal</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  
    <mat-list-item>
      <span class="mat-title-large">Email: </span>
      <span class="mat-title-medium">joao.silva&#64;exemplo.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-title-large">Telefone: </span>
      <span class="mat-title-medium">(11) 91234-5678</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-title-large">Endereço: </span>
      <span class="mat-title-medium">Rua das Flores, 42, São Paulo - SP</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-title-large">Ativo: </span>
      <span class="mat-title-medium">Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-title-large">Função: </span>
      <span class="mat-title-medium">Desenvolvedor</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <span class="mat-title-large">Data de cadastro: </span>
      <span class="mat-title-medium">20/03/2024</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  
  </mat-list>
</div>



